.columns>div {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.columns h2 {
  font-size: 1rem;
  line-height: 1;
  letter-spacing: .0625rem;
  text-transform: uppercase;
  color: #4c4c4c;
  font-family: var(--body-font-family);
  font-weight: 900;
  position: absolute;
  padding: 1.5rem;
}

.columns p {
  padding-left: 5rem;
  padding-right: 5rem;
  font-size: 24px;
  line-height: 36px;
  letter-spacing: normal;
  font-family: var(--body-font-family);
  font-weight: 400;
  text-align: center;
  margin-top: auto;
  margin-bottom: auto;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.columns>div>div {
  order: 1;
  justify-self: flex-start;
  display: flex;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 7px;
}

.columns>div>.columns-img-col {
  order: 0;
}

.columns>div>.columns-img-col img {
  object-fit: cover;
  overflow: hidden;
  max-height: 350px;
  margin-bottom: -10px;
  padding: 0 1rem;
}

.columns>div>div:first-of-type {
  background-color: var(--background-blue);
  justify-content: center;
}

@media (width <= 1200px) {
  .columns p {
    font-size: 18px;
    line-height: 26px;
    padding: 5rem 3rem 3rem;
  }
}

@media (width >= 900px) {
  .columns>div {
    align-items: stretch;
    flex-direction: unset;
    gap: 32px;
    max-height: 572px;
  }

  .columns>div>div {
    max-height: 572px;
  }

  .columns>div>div:first-of-type {
    width: 30%;
    border-radius: 7px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }

  .columns>div>div:last-of-type {
    width: 70%;
  }

  .columns>div>.columns-img-col img {
    max-height: 572px;
  }
}