footer {
  padding: 2rem;
  background-color: var(--footer-background-color);
  font-size: var(--body-font-size-s);
  color: var(--white-color);
}

footer .footer {
  max-width: 1400px;
  margin: auto;
}

footer .footer p {
  color: inherit;
  font-size: 14px;
  line-height: 20px;
}

footer .footer p:first-of-type {
  margin-top: 0;
}

footer .footer p a {
  color: inherit;
  font-size: 14px;
  line-height: 20px;
}

footer .footer > div {
  display: flex;
  flex-direction: row;
  gap: 30px;
}

footer .footer .section:first-of-type img {
  width: 165px;
  height: auto;
}

@media (width <= 900px) {
  footer .footer > div {
    flex-direction: column;
  }
}